.ce-prefix-autocomplete {
  z-index: 9;
  position: fixed;
  display: block;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  background: var(--ce-selector-popup-bg, #fff);
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  border: 1px solid #e2e6ed;
  border-radius: 4px;
}

.ce-prefix-autocomplete-content {
  display: flex;
  flex-direction: column;
}

.ce-prefix-autocomplete-item {
  min-width: 140px;
  padding: 6px 32px 6px 16px;
  min-height: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
}

.ce-prefix-autocomplete-item span {
  color: var(--ce-selector-option-color, #3d4757);
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  line-height: 18px;
}

.ce-prefix-autocomplete-item:hover {
  background: var(--ce-selector-option-hover-bg, rgba(25, 55, 88, .04));
}

.ce-prefix-autocomplete-item:hover span {
  color: var(--ce-selector-option-hover-color, #3d4757);
}

.ce-prefix-autocomplete-active {
  background: var(--ce-selector-active-bg, rgba(25, 55, 88, .04));
}

.ce-prefix-autocomplete-active span {
  color: var(--ce-selector-active-color, #3d4757);
}

.ce-prefix-autocomplete-empty {
  min-width: 140px;
  padding: 6px 16px;
  min-height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--ce-selector-option-color, #a0a4ab);
}
